.navbar {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: #f9f9f9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .logo {
    font-family: 'Salsa', cursive;
    font-weight: bold;
    font-size: 2rem;
    color: #FBCB7E;
    padding-bottom: 1rem;
  }
  
  .nav {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .nav span {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    padding: 6px 12px;
    z-index: 1;
  }
  
  .nav .highlight {
    position: absolute;
    bottom: 0;
    height: 100%;
    background-color: #FBCB7E;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: all 0.3s ease;
    z-index: 0;
  }
  
  .active{
    color: white
  }
  